.calendar {
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.calendarText {
    
}

.calendarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}